
/* styles.css */
/* Reset default margin and padding for the entire page */

/* HTML Tags */
body{
    background-color: beige;
}






/* IDs */
#navbarNav{
    justify-content:right;
}


#btn{
    background-color: black;
}




/* Classes */
.overview{
    margin-top: 4.5rem;
}
.search{
    padding-bottom: 4.5rem;
}

